#registro{
    margin: auto;
    margin-top: 7em;
    margin-bottom: 2em;
    padding: 10px;
}

#submit{
    margin: auto;
    width: 50%;
    padding: 10px;
}

@media screen and (max-width: 720px) {
    #ilustration{
        width: 50%;
    }
}